@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #fff;
}

.header {
    position: fixed;
    top: 10px; /* Adds space from the top */
    left: 10px; /* Adds space from the left */
    right: 10px; /* Ensures the header doesn't stretch too far */
    padding: 20px 10%;
    background-color: rgba(186, 188, 189, 0.4); /* Semi-transparent dark blue */
    backdrop-filter: blur(10px); /* Frosted glass blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-radius: 15px; /* Rounded corners for a more elegant look */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border for glass effect */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); /* Shadow for depth */
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: color .3s;
}

.navbar a:hover,
.navbar a:active {
    color: rgb(10, 130, 146);

}

.Home {

    font-size: 35px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}



.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
